﻿@model List<YearlyTest>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<link href="~/Content/css/fonts.css" rel="stylesheet" />*@
    <link href="~/Content/YearlyTest/css/fonts.css" rel="stylesheet" />
    @*<link href="~/Content/css/font-awesome.css" rel="stylesheet" />*@
    <link href="~/Content/YearlyTest/css/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/YearlyTest/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/jquery.snippet.min.css" rel="stylesheet">*@
    <link href="~/Content/YearlyTest/css/jquery.snippet.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/styles.css" rel="stylesheet">*@
    <link href="~/Content/YearlyTest/css/styles.css" rel="stylesheet" />
    <style>
        body {
            background-color: #243348;
            padding-top: 10px;
        }

        .w3-container, .w3-panel {
            padding: 8px 4px;
        }

        .resulview {
            min-width: 200px;
        }

        .w3-white, .w3-hover-white:hover {
            color: #000 !important;
            background-color: #cff2f4 !important;
        }

        #testname {
            color: #08c;
            font-family: 'FuturaExtraBold';
            font-size: 20px;
            font-weight: bolder;
            letter-spacing: 4px;
            margin-bottom: 20px;
            text-shadow: 0px 0px #2870F0;
            text-align: center;
        }

        .card {
            /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        .container-fluid {
            min-height: 620px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .loader-div {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255,255,255,.8) url(/Content/Icons/ajax-loader.gif) 50% 50% no-repeat;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }

        canvas {
            border: 0px solid black;
        }

        #easyPaginate {
            float: left;
            display: inline-flex;
            padding: 10px;
            margin: 5px;
        }

            #easyPaginate img {
                display: block;
                margin-bottom: 10px;
            }

        .easyPaginateNav a {
            padding: 5px;
        }

            .easyPaginateNav a.current {
                font-weight: bold;
                text-decoration: underline;
            }

        #myProgress {
            width: 100%;
            background-color: #ddd;
        }

        #myBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
            text-align: right;
            padding-right: 10px;
        }
    </style>
</head>


<body>

    <div class="container-fluid">
        <div class="loader-div"></div>
        <div class="row" id="danger">
        </div>
        <div class="row" id="warning">
        </div>
        <div class="row" id="safe">
        </div>
    </div>
    <div id="myProgress">
        <div id="myBar"></div>
    </div>

    <br>
    <a class="btn btn-danger" onclick="move()" id="playBtn">Play</a>
    <a class="btn btn-danger" id="pauseBtn">Pause</a>
    @*<script src="~/Scripts/1.8.1-jquery.min.js"></script>*@
    <script src="~/Content/YearlyTest/Scripts/1.8.1-jquery.min.js"></script>
    @*<script src="~/Content/js/bootstrap.min.js"></script>*@
    <script src="~/Content/YearlyTest/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Content/js/jquery.snippet.min.js"></script>*@
    <script src="~/Content/YearlyTest/Scripts/jquery.snippet.min.js"></script>
    <script src="~/Scripts/jquery.easyPaginate.js"></script>
    <script>
        function formatDate(date) {
            var monthNames = [
                "Jan", "Feb", "Mar",
                "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct",
                "Nov", "Dec"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();

            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }
        $(document).ready(function () {
            $('.resultview').each(function () {
                alert(this);
                myFunction(this);
            });
        })
        function myFunction(R) {
            var xcan = document.createElement("CANVAS");
            xcan.width = 160;
            xcan.height = 160;

            var ctx = xcan.getContext('2d');
            console.log($(R).data('inner-radius') + " " + $(R).data('outer-radius'))
            var x = 80,
                y = 80,
                // Radii of the white glow.
                innerRadius = $(R).data('inner-radius'),
                outerRadius = $(R).data('outer-radius'),
                // Radius of the entire circle.
                radius = outerRadius;
            //ctx.arc(x, y, 100, 0, 2 * Math.PI, true);
            //ctx.arc(x, y, innerRadius, 0, 2 * Math.PI, true);
            var gradient = ctx.createRadialGradient(x, y, innerRadius-20, x, y, outerRadius-20);
            //gradient.addColorStop(0, "#" + $(R).data('inner-color') + "");
            gradient.addColorStop(0, $(R).data('inner-color'));
            gradient.addColorStop(1, $(R).data('outer-color'));

            //ctx.arc(x, y, innerRadius, 0, 2 * Math.PI);
            ctx.arc(x, y, outerRadius-20, 0, 2 * Math.PI);
            ctx.lineWidth = 5;
            ctx.fillStyle = gradient;
            ctx.fill();
            console.log(R.id);
            $("#" + R.id).html(xcan);

        }
        var moves = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        console.log(moves);
        function move() {
            $(".loader-div").show();
            var elem = document.getElementById("myBar");
            var width = 0;
            console.log(moves.length);
            var i = 0;
            tTest = 100 / moves.length;
            function myloop() {
                $("#playBtn").unbind();
                var paused = false;
                $("#pauseBtn").click(function () {
                    paused = true;
                });
                $("#playBtn").click(function () {
                    paused = false;
                });
                setTimeout(function () {
                    width += tTest;
                    elem.style.width = width + '%';
                   // elem.innerHTML = moves[i].TestId;
                    $.ajax({
                        url: "/Test/GetReport/" + moves[i].TestId,
                        async: false,
                        success: function (result) {
                            $(".loader-div").hide();
                            console.log(result);
                            $("#danger").children().empty();
                            $("#warning").children().empty();
                            $("#safe").children().empty();
                            for (var j = 0; j < result.danger.length; j++) {
                                var html = "<div class=\"card col-sm-4\" style=\"float:left; cursor: pointer; min-width:250px\" id=\"reportid-" + result.danger[j].Id + "\" onclick=\"viewdetail(this)\" data-outer-radius=\"" + result.danger[j].OuterRadius + "\" data-inner-radius=\"" + result.danger[j].InnerRadius + "\" data-inner-color=\"" + result.danger[j].InnerColor + "\" data-outer-color=\"" + result.danger[j].OuterColor+"\">";
                                html += "<div id=" + result.danger[j].Id + " class=\"resultview\" data-outer-radius=\"" + result.danger[j].OuterRadius + "\" data-inner-radius=\"" + result.danger[j].InnerRadius + "\" data-inner-color=\"" + result.danger[j].InnerColor + "\" data-outer-color=\"" + result.danger[j].OuterColor + "\"></div>";
                                html += "<h1 id=\"testname\">"+result.danger[j].TestName+"</h1>";
                            //    $("#danger").append("<div class=\"col-sm-4\" style=\"background-color:lavender;\">" + result.danger[j].TestName + "</div>");
                                $("#danger").append(html + "<hr/>");
                            }
                            for (var k = 0; k < result.warning.length; k++) {
                                var html = "<div class=\"card col-sm-4\" style=\"float:left; cursor: pointer; min-width:250px\" id=\"reportid-" + result.warning[k].Id + "\" onclick=\"viewdetail(this)\" data-outer-radius=\"" + result.warning[k].OuterRadius + "\" data-inner-radius=\"" + result.warning[k].InnerRadius + "\" data-inner-color=\"" + result.warning[k].InnerColor + "\" data-outer-color=\"" + result.warning[k].OuterColor + "\">";
                                html += "<div id=" + result.warning[k].Id + " class=\"resultview\" data-outer-radius=\"" + result.warning[k].OuterRadius + "\" data-inner-radius=\"" + result.warning[k].InnerRadius + "\" data-inner-color=\"" + result.warning[k].InnerColor + "\" data-outer-color=\"" + result.warning[k].OuterColor + "\"></div>";
                                html += "<h1 id=\"testname\">" + result.warning[k].TestName + "</h1>";
                                //    $("#danger").append("<div class=\"col-sm-4\" style=\"background-color:lavender;\">" + result.danger[j].TestName + "</div>");
                                $("#warning").append(html + "<hr/>");
                               // $("#warning").append("<div class=\"col-sm-4\" style=\"background-color:lavender;\">" + result.warning[k].TestName + "</div>");
                            }
                            for (var l = 0; l < result.safe.length; l++) {
                                var html = "<div class=\"card col-sm-4\" style=\"float:left; cursor: pointer; min-width:250px\" id=\"reportid-" + result.safe[l].Id + "\" onclick=\"viewdetail(this)\" data-outer-radius=\"" + result.safe[l].OuterRadius + "\" data-inner-radius=\"" + result.safe[l].InnerRadius + "\" data-inner-color=\"" + result.safe[l].InnerColor + "\" data-outer-color=\"" + result.safe[l].OuterColor + "\">";
                                html += "<div id=" + result.safe[l].Id + " class=\"resultview\" data-outer-radius=\"" + result.safe[l].OuterRadius + "\" data-inner-radius=\"" + result.safe[l].InnerRadius + "\" data-inner-color=\"" + result.safe[l].InnerColor + "\" data-outer-color=\"" + result.safe[l].OuterColor + "\"></div>";
                                html += "<h1 id=\"testname\">" + result.safe[l].TestName + "</h1>";
                                //    $("#danger").append("<div class=\"col-sm-4\" style=\"background-color:lavender;\">" + result.danger[j].TestName + "</div>");
                                $("#safe").append(html);
                               // $("#safe").append("<div class=\"col-sm-4\" style=\"background-color:lavender;\">" + result.safe[l].TestName + "</div>");
                            }
                            elem.innerHTML = formatDate(new Date(moves[i].TestDate));
                            ++i;
                            if (i < moves.length) {
                                if (!paused) {
                                    myloop();
                                }
                            }
                        }
                    });

                    $('.resultview').each(function () {
                       // alert(this);
                        myFunction(this);
                    });
                    console.log(i);
                }, 3000);
            }
            myloop();
        }
    </script>

</body>
</html>
