﻿@model List<FinalView>
<style>
    button {
        border: 1px solid;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #08c;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
</style>

<script>
    $(document).ready(function () {
        $('.resultview').each(function () {
            //alert(this);
            myFunction(this);
        });
    })
</script>
@if (ViewBag.OutOfNumber == 0)
{
    @ViewBag.Message;
}
else
{
    <div border="0" id="easyPaginate">
        @foreach (var item in Model)
        {
            <div class="card" style="cursor:pointer;min-width:250px" id="reportid-@item.Id" onclick="viewdetail(this)" data-outer-radius="@item.OuterRadius" data-inner-radius="@item.InnerRadius" data-inner-color="@item.InnerColor" data-outer-color="@item.OuterColor">
                <div id=@item.Id class="resultview" data-outer-radius="@item.OuterRadius" data-inner-radius="@item.InnerRadius" data-inner-color="@item.InnerColor" data-outer-color="@item.OuterColor"></div>
                <h1 id="testname">@item.TestName</h1>
                <p class="">Resulted Value: @item.OrgResultedValue</p>
                <p>Normal Range: (@item.OrgNormalMinValue - @item.OrgNormalMaxValue)</p>
            </div>

        }
    </div>
    if (ViewBag.PageCount > 0)
    {
       
        <div class="paginationtextdv" style="padding-top:5px;padding-bottom:8px">
            <span style="padding-left:15px;margin-bottom:5px">@ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
        </div>
    }
    if (ViewBag.PageCount == 1)
    {
        <div style="float:right">
        <div class="paginationMiddleButtondv" style="float:left">
            <button class="PaginationButtons disabledBtn"><</button>
        </div>
        <div class="NavigatonButtonsDiv" style="float:left">
            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
        </div>
        <div class="paginationRightButtondv" style="float:left">
            <button class="PaginationButtons disabledBtn" disabled>></button>
        </div>
            </div>
    }
    else if (ViewBag.PageCount == 2)
    {
        <div style="float:right">
            <div class="paginationMiddleButtondv" style="float:left">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))"><</button>
            </div>
            <div class="NavigatonButtonsDiv" style="float:left">
                <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv" style="float:left">
                <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
            </div>
            <div class="paginationRightButtondv" style="float:left">
                <button disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">></button>
            </div>
        </div>
    }
    else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
    {
        <div style="float:right">
            <div class="paginationMiddleButtondv" style="float:left">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))"><</button>
            </div>
            <div class="NavigatonButtonsDiv" style="float:left">
                <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv" style="float:left">
                <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv" style="float:left">
                <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
            </div>
            <div class="paginationRightButtondv" style="float:left">
                <button disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">></button>
            </div>
        </div>
    }
    else if (ViewBag.PageCount > 3)
    {
        if (ViewBag.PageNumber == 1)
        {
            <div style="float:right">
                <div class="paginationMiddleButtondv" style="float:left">
                    <button disabled onclick="NavigatePageListing()"><</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv" style="float:left">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">></button>
                </div>
            </div>
        }
        else if (ViewBag.PageNumber == ViewBag.PageCount)
        {
            <div style="float:right">
                <div class="paginationMiddleButtondv" style="float:left">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))"><</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv" style="float:left">
                    <button disabled onclick="NavigatePageListing()">></button>
                </div>
            </div>
        }
        else
        {
            <div style="float:left">
                <div class="paginationMiddleButtondv" style="float:left">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))"><</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv" style="float:left">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv" style="float:left">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">></button>
                </div>
            </div>
        }
    }
}
